<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce website</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="store.js" async></script>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="images/Logofire.png" width="125px">
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="../home">Inicio</a></li>
                    <li><a href="../productos">Productos</a></li>
                    <li><a href="https://www.facebook.com/mauricio.mattinenvaldez">Contactanos</a></li>
                    <li><a href="../cuenta">Cuenta</a></li>
                </ul>
            </nav>
            <a href="../carrito"><img src="images/cart.png" width="30px" height="30px"></a>
            <img src="images/menu.png" class="menu-icon" onclick="menutoggle()">
        </div>
        
    </div>
