<%- include("partials/head") %>

<div class="small-container carrito-pagina">
    <table>
        <tr>
            <th><span class="cart-item cart-header cart-column">Producto</span></th>
            <th><span class="cart-quantity cart-header cart-column">Cantidad</span></th>
            <th><span class="cart-price cart-header cart-column">Precio</span></th>
        </tr>
        <!-------------------productos------------------------->
        <tr>
            <td>
                <div class="carrito-info">
                    <img class="cart-item-image" src="images/cel1.jpeg">
                    <div>
                        <p><span class="cart-item-title">Celular Huawei</span></p>
                        <small><span class="cart-price cart-column">Precio: Bs 2100</span></small>
                        <br>
                        <button class="btn1 btn-danger" type="button">Remover</button>
                    </div>
                </div>
            </td>
            <td><input class="cart-quantity-input" type="number" value="1"></td>
            <td><span class="cart-price cart-column">Bs 2100</span></td>
        </tr>

        <tr>
            <td>
                <div class="carrito-info">
                    <img src="images/pc1.jpg">
                    <div>
                        <p>Computadora 1</p>
                        <small>Precio: Bs 7000</small>
                        <br>
                        <a href="">Remover</a>
                    </div>
                </div>
            </td>
            <td><input type="number" value="1"></td>
            <td>Bs 7000</td>
        </tr>

        <tr>
            <td>
                <div class="carrito-info">
                    <img src="images/tv1.jpg">
                    <div>
                        <p>Televisor 1</p>
                        <small>Precio: Bs 5000</small>
                        <br>
                        <a href="">Remover</a>
                    </div>
                </div>
            </td>
            <td><input type="number" value="1"></td>
            <td>Bs 5000</td>
        </tr>
    </table>

    <div class="precio-total">
        <table>
            <tr>
                <td>Total</td>
                <td span class="cart-total-price">Bs 200</span></td>
            </tr>
            <tr>
                <td>Total</td>
                <td>Bs 200</td>
            </tr>
        </table>
    </div>
    <div class="opcion-seguir">
        <a href="productos" class="btn">&#8592; Seguir comprando</a>
    </div>

    <div class="opcion-pago">
        <a href="checkout" class="btn">Proceder al pago &#8594;</a>
    </div>
    
</div>

<%- include("partials/foot") %>
