<%- include("partials/head") %>

<div class="pagina-cuenta">
    <div class="container">
        <div class="row">

            <div class="col-2">
                <img src="images/imagen1.jpeg" width="100%">
            </div>

            <div class="col-2">
                <div class="form-container">
                    <div class="form-btn">
                        <span onclick="login()">Login</span>
                        <span onclick="register()">Registro</span>
                        <hr id="Indicator">
                    </div>

                    <form id="LoginForm" action="#" method="post" name="form_login"">
                        <input id="LogMail" type="email" placeholder="Correo Electronico">
                        <input id="LogPass" type="password" placeholder="Contraseña">
                        <button type="submit" class="btn">Login</button>
                        <a href="#">Olvidaste la contraseña?</a>
                    </form>

                    <form id="RegForm" action="#" method="post" name="form_registro">
                        <input id="RegName" type="text" placeholder="Nombre">
                        <input id="RegMail" type="email" placeholder="Correo Electronico">
                        <input id="RegTelf" type="text" placeholder="Teléfono">
                        <input id="RegBday" type="date" id="birthday">
                        <input id="RegPass" type="password" placeholder="Contraseña">
                        <button type="submit" class="btn">Registrarse</button>
                        <a href="#">Olvidaste la contraseña?</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- animacion del form -->
<script>

    var LoginForm = document.getElementById("LoginForm");
    var RegForm = document.getElementById("RegForm");
    var Indicator = document.getElementById("Indicator");

        function login()
        {
            RegForm.style.transform = "translateX(300px)";
            LoginForm.style.transform = "translateX(300px)";
            Indicator.style.transform = "translateX(0px)";
        }

        function register()
        {
            RegForm.style.transform = "translateX(0px)";
            LoginForm.style.transform = "translateX(0px)";
            Indicator.style.transform = "translateX(100px)";
        }

</script>

<%- include("partials/foot") %>