<%- include("partials/head") %>

<div class="small-container">
    <div class="row row-2">
        <h2>Todos los productos</h2>
        <select>
            <option>Todos los productos</option>
            <option>Celulares</option>
            <option>Computadoras</option>
            <option>Televisores</option>
        </select>
    </div>
    <div class="row">
        <div class="col-4">
            <img src="images/cel1.jpeg">
            <h4>Celular 1</h4>
            <p>Bs 2100</p>
        </div>

        <div class="col-4">
            <img src="images/cel1.jpeg">
            <h4>Celular 1</h4>
            <p>Bs 2100</p>
        </div>

        <div class="col-4">
            <img src="images/cel1.jpeg">
            <h4>Celular 1</h4>
            <p>Bs 2100</p>
        </div>

        <div class="col-4">
            <img src="images/cel1.jpeg">
            <h4>Celular 1</h4>
            <p>Bs 2100</p>
        </div>

        <div class="col-4">
            <img src="images/cel1.jpeg">
            <h4>Celular 1</h4>
            <p>Bs 2100</p>
        </div>

        <div class="col-4">
            <img src="images/cel1.jpeg">
            <h4>Celular 1</h4>
            <p>Bs 2100</p>
        </div>

        <div class="col-4">
            <img src="images/cel1.jpeg">
            <h4>Celular 1</h4>
            <p>Bs 2100</p>
        </div>

        <div class="col-4">
            <img src="images/cel1.jpeg">
            <h4>Celular 1</h4>
            <p>Bs 2100</p>
        </div>

        <div class="col-4">
            <img src="images/cel1.jpeg">
            <h4>Celular 1</h4>
            <p>Bs 2100</p>
        </div>

        <div class="col-4">
            <img src="images/cel1.jpeg">
            <h4>Celular 1</h4>
            <p>Bs 2100</p>
        </div>

        <div class="col-4">
            <img src="images/cel1.jpeg">
            <h4>Celular 1</h4>
            <p>Bs 2100</p>
        </div>

        <div class="col-4">
            <img src="images/cel1.jpeg">
            <h4>Celular 1</h4>
            <p>Bs 2100</p>
        </div>

        <div class="col-4">
            <img src="images/cel1.jpeg">
            <h4>Celular 1</h4>
            <p>Bs 2100</p>
        </div>

        <div class="col-4">
            <img src="images/cel1.jpeg">
            <h4>Celular 1</h4>
            <p>Bs 2100</p>
        </div>

        <div class="col-4">
            <img src="images/cel1.jpeg">
            <h4>Celular 1</h4>
            <p>Bs 2100</p>
        </div>

        <div class="col-4">
            <img src="images/cel1.jpeg">
            <h4>Celular 1</h4>
            <p>Bs 2100</p>
        </div>
        <div class="page-btn">
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
            <span>&#8594;</span>
        </div>
       
    </div>       
</div>


 <!-------------------------------------------footer--------------------------------------------------->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                 <h3>Descarga nuestra app</h3>
                 <p>si tan solo tuvieramos una :v</p>
                 <div class="app-logo">
                     <img src="images/app-store.png">
                     <img src="images/play-store.png">
                 </div>
            </div>
            <div class="footer-col-2">
                    <img src="images/Logofire.png">
                    <p>es para el proyecto un pie de pagina nuestro objetivo es hacer un buen proyecto de SI2</p>
            </div>
            <div class="footer-col-3">
                        <h3>Whatsapps</h3>
                        <ul>
                            <li>Mauricio Jr Mattinen Valdez</li>
                            <li>Estudiante 2</li>
                            <li>Estudiante 3</li>
                            <li>Estudiante 4</li>
                        </ul>
            </div>
            <div class="footer-col-4">
                        <h3>Links de los estudiantes</h3>
                        <ul>
                            <li>Mauricio Jr Mattinen Valdez</li>
                            <li>Estudiante 2</li>
                            <li>Estudiante 3</li>
                            <li>Estudiante 4</li>
                        </ul>
            </div>            
        </div>
        <hr>
        <p class="copyright">Copyright 2020 Mauricio Jr Mattinen Valdez - Sistemas de informacion 2</p>
    </div>
</div>

<%- include("partials/foot") %>